@chraset "utf-8";
body{
    margin: auto;
}
h1{
    margin: auto;
}
.nav{position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: cyan;
  width: 100%;
  border-style: none;
  padding: inherit;
}
.main{
    padding-top: 30px;
    border-style: none;
}