@charset "utf-8";
h1{
  margin:auto;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  border-style: none;
}
.main{
    padding-top: 40px;
    border-style: none;
}
td{
    vertical-align :top;
    line-height:50px;
}
